h1{
    text-align: center;
}

#langos{
    text-align: center;
    background-color: aqua;
  
}

.etel{
    width: 200px;
}

.allat{
    width: 200px;
}

#latvany{
   width: 200px;
}

